streamlit
pandas
requests
plotly
dotenv
faiss-cpu
streamlit_calendar
PyPDF2
langchain
langchain-community
langchain-huggingface
transformers==4.42.0 # Updated to a more recent and compatible version
torch==2.3.0 # Updated to a more recent and compatible version for Python 3.11
sentence-transformers==2.7.0 # Keep this version as it was likely not the root cause
